<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadrado y Círculo</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="cuadrado">
        <div id="circulo">
            <span id="contador-numero">0</span>
        </div>
        <div class="barra barra-top"></div>
        <div class="barra barra-bottom"></div>
        <div class="barra barra-left"></div>
        <div class="barra barra-right"></div>
    </div>

    <div id="minimapa">
        <div id="minimapa-viewport"></div>
        <div id="minimapa-circulo"></div>
    </div>

    <div id="leaderboard">
        <div class="lb-title">Top Jugadores (Máx: 2000)</div>
        <ol id="lb-list"></ol>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
